.consonant-aspect-ratio-1-1-card {
    padding: 0;
    overflow: hidden;

    /* Card inner */
    & > div:nth-child(2) {
        padding: 20px 24px 24px;
    }

    /* Card image */
    & > div:first-child {
        min-height: @consonant-card-l-1-img-height;
        background-size: cover;

        /* Video icon */
        & > a {
            bottom: 16px;
            cursor: pointer;
        }
    }

    /* Title */
    h2 {
        &:last-child a {
            max-height: 1.375rem * 3;
            -webkit-line-clamp: 3;
        }

        &:only-child a {
            max-height: 1.375rem * 4;
            -webkit-line-clamp: 4;
        }

        &:empty {
            display: none;
        }
    }

    span + h2:not(:last-child) a {
        max-height: 1.375rem;
        -webkit-line-clamp: 1;
    }

    .consonant-aspect-ratio-1-1-card--text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        max-height: 1rem * 2;
        margin: 0;
        padding: 0;

        .font();

        -webkit-line-clamp: 2;
        overflow: hidden;

        &:empty {
            display: none;
        }

        &:only-child {
            max-height: 1rem * 5;
            -webkit-line-clamp: 5;
        }
    }

    span + .consonant-aspect-ratio-1-1-card--text {
        max-height: 1rem * 5;
        -webkit-line-clamp: 5;
    }

    @media @consonant-desktop-up {
        /* Card inner */
        & > div:nth-child(2) {
            padding: 18px 16px 6px;
            border: 2px solid transparent;
            outline: 0;

            &:focus {
                border-color: @consonant-focus-color;
            }
        }
    }
}
