.consonant-aspect-ratio-3-2-card {
    .consonant-aspect-ratio-3-2-card--text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        max-height: 1.3125rem * 3;
        margin: 0 0 14px;
        padding: 0;

        .font(0.875rem, 1.3125rem, 400, @consonant-color-dark-grey-1);

        -webkit-line-clamp: 3;
        overflow: hidden;

        &:empty {
            display: none;
        }
    }

    h2 {
        cursor: text;
    }

    h2 a {
        pointer-events: none;
    }

    .consonant-aspect-ratio-3-2-card--label + .consonant-aspect-ratio-3-2-card--title + p {
        max-height: 1rem * 3;
        line-height: 1rem;
    }

    .consonant-aspect-ratio-3-2-card--footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        padding-top: 23px;
        border-top: 1px solid @consonant-color-lightest-grey;
        text-align: right;
    }

    .consonant-aspect-ratio-3-2-card--footer-info {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;
        // Min btn width - 20 margin rigth;
        max-width: calc(~ '100% - 20px - ' @consonant-card-btn-min-width);
        margin-right: 20px;
    }

    .consonant-aspect-ratio-3-2-card--secondary-text {
        display: block;
        max-width: 100%;

        .font(
            @line-height: 1.375rem,
            @color: @consonant-color-dark-grey-1
        );

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    @media @consonant-big-desktop-up {
        .consonant-aspect-ratio-3-2-card--secondary-text {
            font-size: 0.75rem;
        }
    }
}
