{
    "env": {
        "test": {
            "presets": [
                "react",
                ["env", {
                    "modules": "commonjs",
                    "targets": {
                        "browsers": [">0.25%", "ie >= 11", "not ie < 11"]
                    },
                    "useBuiltIns": true,
                    "exclude": ["transform-regenerator", "transform-async-to-generator"]
                }]
            ],
            "plugins": [
                "transform-class-properties",
                "transform-object-rest-spread"
            ]
        },
        "production": {
            "plugins": [
                ["transform-react-remove-prop-types", {
                    "ignoreFilenames": ["node_modules"]
                }]
            ]
        }
    },
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": [">0.25%", "ie >= 11", "not ie < 11"]
            },
            "useBuiltIns": true,
            "plugins": ["transform-class-properties", "transform-object-rest-spread"],
            "exclude": ["transform-regenerator", "transform-async-to-generator"]
        }],
        "react"
    ]
}