/* Available modificators:
- .consonant-btn-infobit_cta;
*/

@consonant-btn-infobit-min-width: 110px;
@consonant-btn-infobit-max-height: 32px;

.consonant-btn-infobit {
    display: block;
    min-width: @consonant-btn-infobit-min-width;
    max-width: 100%;
    margin-left: 7px;
    padding-left: 14px;
    padding-right: 14px;
    border: 2px solid @consonant-color-brown-grey;
    border-radius: 16px;
    background-color: @consonant-color-white;
    transition:
        border-color @transition-time @transition-func,
        background-color @transition-time @transition-func,
        color @transition-time @transition-func;

    .font(0.8235rem, @consonant-btn-infobit-max-height - 4px, 700, @consonant-color-brown-grey, center);

    text-decoration: none;
    text-overflow: clip;
    white-space: normal;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        color: @consonant-color-white;
        border-color: @consonant-color-light-grey-3;
        background-color: @consonant-color-light-grey-3;
    }

    &:active {
        color: @consonant-color-white;
        border-color: @consonant-color-dark-grey-7;
        background-color: @consonant-color-dark-grey-7;
    }

    .focused;

    &.consonant-btn-infobit_cta {
        color: @consonant-color-white;
        background-color: @consonant-color-blue-2;
        border-color: @consonant-color-blue-2;

        &:hover {
            color: @consonant-color-white;
            background-color: @consonant-color-blue-3;
            border-color: @consonant-color-blue-3;
        }

        &:active {
            color: @consonant-color-white;
            background-color: @consonant-color-blue-4;
            border-color: @consonant-color-blue-4;
        }
    }
}
