.consonant-date-interval-infobit {
    display: block;
    min-width: 0;
    max-width: 100%;
    margin-left: 16px;

    .font(
        0.875rem,
        1.375rem,
        400,
        @consonant-color-dark-grey-1,
        left
    );

    white-space: normal;
    text-overflow: clip;
    overflow: hidden;
}
