@consonant-icon-with-text-img-max-width: 80px;
@consonant-icon-with-text-img-max-height: 22px;
@consonant-icon-with-text-text-max-width: 100px;

.consonant-icon-with-text-infobit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    max-width: 100%;
    margin-left: 16px;
}

.consonant-icon-with-text-infobit img {
    display: block;
    width: auto;
    height: auto;
    max-width: @consonant-icon-with-text-img-max-width;
    max-height: @consonant-icon-with-text-img-max-height;
    margin-right: 8px;
    object-fit: contain;
    user-select: none;
}

.consonant-icon-with-text-infobit--text {
    max-width: 100%;

    .font(0.875rem, 1.375rem, 400, @consonant-color-dark-grey-3);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
