.consonant-link-infobit {
    min-width: 0;
    max-width: 100%;
    margin-left: 16px;

    .font(
        0.9375rem,
        1.25rem,
        700,
        @consonant-color-blue,
        left
    );

    text-decoration: none;
    white-space: normal;
    text-overflow: clip;
    overflow: hidden;
    transition: color @transition-time @transition-func;

    &:hover {
        color: @consonant-color-blue-3;
    }

    &:active {
        color: @consonant-color-blue-4;
    }

    .focused;
}

* + *:not(:last-of-type):nth-child(2) .consonant-link-infobit:only-child {
    margin-right: 0;
}
