/* Available modificators:
  - consonant-top-filters--filters_truncated;
  - consonant-top-filters--clear-btn-wrapper_no-bg;
*/

@consonant-top-filters-filters-fade-width: 56px;
@consonant-top-filters-search-width: 268px;

.consonant-top-filters {
    display: block;
    min-width: 83.333vw;
    max-width: 83.333vw;
    margin: 0 auto;
    padding: 14px 0 20px;

    .consonant-top-filters--inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 100%;
    }

    .consonant-top-filters--filters:last-child > div:last-child {
        margin-right: 0;
    }

    .consonant-top-filters--inner > *:not(.consonant-top-filters--filters-wrapper):first-child {
        margin-left: auto;
    }

    .consonant-top-filters--search-wrapper {
        display: block;
        order: -2;
    }

    .consonant-top-filters--filters-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-grow: 1;
        max-width: calc(~ '100% - ' @consonant-select-width * 0.85 ~ ' - 8px');

        &:only-child {
            max-width: 100%;
            justify-content: flex-start;
        }

        @media @consonant-IE11-only {
            flex-basis: 100%;
        }
    }

    .consonant-top-filters--filters-wrapper + * {
        margin-left: auto;
    }

    .consonant-top-filters--filters {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin-right: 16px;
        overflow-y: auto;

        &:last-child {
            margin-right: 0;
        }
    }

    .consonant-top-filters--filters > div h3 button {
        white-space: nowrap;
    }

    .consonant-top-filters--filters.consonant-top-filters--filters_truncated {
        // Make each filter white-space nowrap;
        & > div h3 button {
            white-space: nowrap;
        }
    }

    .consonant-top-filters--more-btn {
        display: none;
        margin-bottom: 8px;
        padding: 5px 12px 6px;

        .font(0.875rem, 1.1875rem, 700, @consonant-color-brown-grey, center);

        text-transform: capitalize;
        background-color: transparent;
        border: 1px solid @consonant-color-lightest-grey;
        border-radius: 16px;
        outline: 0;
        user-select: none;
    }

    .consonant-top-filters--title {
        display: none;
        margin-right: 12px;
        min-width: 55px;
        max-width: 20%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        user-select: none;

        .font(1rem, 2rem, 600, @consonant-color-dark-grey-2);
    }

    .consonant-top-filters--clear-btn-wrapper {
        position: sticky;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        min-height: 32px;
        max-width: 40%;

        &:empty {
            margin-left: -16px;
            overflow: visible;
        }

        &:after {
            content: '';
            position: absolute;
            width: @consonant-top-filters-filters-fade-width;
            height: 100%;
            background:
                transparent
                linear-gradient(
                    270deg,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(255, 255, 255, 0) 100%
                ) 0% 0% no-repeat padding-box;
            top: 0;
            bottom: 0;
            right: 100%;
            margin: auto;
            z-index: 2;
            pointer-events: none;
        }

        &.consonant-top-filters--clear-btn-wrapper_no-bg:after {
            display: none;
        }
    }

    .consonant-top-filters--clear-btn {
        padding: 0;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .font(0.875rem, 2rem, 700, @consonant-color-blue, right);

        background-color: transparent;

        .focused;
    }

    .consonant-top-filters--select-wrapper {
        display: block;
        min-width: @consonant-select-width * 0.85;
        max-width: @consonant-select-width * 0.85;
        margin-right: 8px;
        order: -1;
        overflow: visible;

        &:only-child {
            margin-left: auto;
            margin-right: 0;
        }
    }

    .consonant-top-filters--search-ico-wrapper,
    .consonant-top-filters--res-qty {
        display: none;
    }

    @media @consonant-tablet-up {
        padding-bottom: 32px;

        .consonant-top-filters--filters-wrapper {
            max-width: 60%;
            justify-content: flex-start;
            margin-right: 16px;
        }

        .consonant-top-filters--title {
            display: block;
        }

        .consonant-top-filters--filters {
            align-items: flex-start;
            flex-wrap: wrap;
            overflow: hidden;

            &.consonant-top-filters--filters_truncated {
                justify-content: flex-start;
                flex-wrap: nowrap;
                overflow-x: auto;

                .consonant-top-filters--more-btn {
                    display: block;
                    min-width: 120px;
                    margin-right: 24px;
                }

                & > div:nth-child(n+4) {
                    display: none;
                }
            }
        }

        .consonant-top-filters--filters > div h3 button {
            white-space: normal;
        }

        .consonant-top-filters--clear-btn-wrapper:after {
            display: none;
        }

        .consonant-top-filters--more-btn {
            display: block;
            min-width: auto;
        }

        .consonant-top-filters--select-wrapper {
            max-width: @consonant-select-width;
            order: 0;
        }

        .consonant-top-filters--search-ico-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: calc(@consonant-search-ico-size ~ ' + 40px');
            min-height: 32px;
            height: 32px;
        }

        .consonant-top-filters--search-ico-wrapper > div {
            position: absolute;
            width: @consonant-top-filters-search-width;
            top: 0;
            right: 20px;
            z-index: 3;
        }

        .consonant-top-filters--search-ico-wrapper:only-child > div {
            right: 0;
        }

        .consonant-top-filters--search-ico-wrapper > div + button {
            display: none;
            margin: 0;
            padding: 0;
        }

        .consonant-top-filters--res-qty {
            position: relative;
            display: flex;
            align-items: center;
            min-width: 110px;
            min-height: 32px;
            height: 32px;
            padding-left: 20px;
            padding-right: 20px;

            .font(0.875rem, 1.125rem, 400, @consonant-color-brown-grey, center);

            &:after {
                content: '';
                position: absolute;
                display: block;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 1px;
                height: 100%;
                background-color: @consonant-color-lightest-grey;
                z-index: 1;
            }
        }
    }

    @media @consonant-desktop-up {
        /* Hide search input label; */
        .consonant-top-filters--search-ico-wrapper label > span:first-child {
            display: none;
        }

        .consonant-top-filters--select-wrapper {
            min-width: 160px;
            max-width: 160px;
            margin-right: 0;
            margin-left: 0;
        }

        /* Add paddings for sort select; */
        .consonant-top-filters--select-wrapper > div:first-child {
            &:after {
                right: 12px;
            }
        }

        .consonant-top-filters--select-wrapper > div:first-child > button {
            padding-left: 12px;
            padding-right: 12px;
            border: 1px solid @consonant-color-lightest-grey;
            border-radius: 4px;
        }

        .consonant-top-filters--filters {
            overflow: visible;
        }

        .consonant-top-filters--filters.consonant-top-filters--filters_truncated {
            justify-content: flex-start;
            flex-wrap: wrap;
            overflow: visible;

            & > div:last-child {
                margin-right: 0;
            }
        }

        &.consonant-top-filter_opened {
            margin-bottom: 8px;
        }
    }

    @media @consonant-big-desktop-up {
        min-width: @consonant-width-desktop-min;
        max-width: @consonant-width-desktop-min;
    }
}
