/* Initial breakpoints*/
@consonant-tablet-up: %(~"only screen and (min-width: %s)", @consonant-width-tablet-min);
@consonant-desktop-up: %(~"only screen and (min-width: %s)", @consonant-width-desktop-min);
@consonant-big-desktop-up: %(~"only screen and (min-width: %s)", @consonant-width-big-desktop-min);

/* Related to cards layout */
@consonant-min-2-cards: %(~"only screen and (min-width: %s)", @consonant-2-cards-min-width);
@consonant-min-3-cards: %(~"only screen and (min-width: %s)", @consonant-3-cards-min-width);

/* Browser type related */
@consonant-IE11-only: ~"all and (-ms-high-contrast: none), (-ms-high-contrast: active)";
