.consonant-card-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    min-width: 83.333vw;
    max-width: 83.333vw;

    .margin-auto;

    background-color: transparent;

    // Set margins logic;
    & > div {
        margin-left: 16px;
        margin-right: 16px;

        @media @consonant-min-2-cards {
            margin-left: 0;
            margin-right: @consonant-card-margin-right;

            &:nth-of-type(even) {
                margin-right: 0;
            }
        }

        @media @consonant-min-3-cards {
            &:nth-of-type(even) {
                margin-right: @consonant-card-margin-right;
            }

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }
    }

    .consonant-card-collection--placeholder {
        flex: 1 1 0;
        min-width: @consonant-card-min-width;
        max-width: @consonant-card-max-width;
        padding: 0;
        border: 0;

        .hide-overflow;

        @media @consonant-IE11-only {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: @consonant-card-min-width;
        }
    }

    @media @consonant-tablet-up {
        margin-top: -4px;
    }

    @media @consonant-desktop-up {
        overflow: visible;
    }

    @media @consonant-big-desktop-up {
        margin-bottom: 8px;
        min-width: @consonant-width-desktop-min;
        max-width: @consonant-width-desktop-min;
    }
}

// Left filter changes;
* + * > .consonant-card-collection {
    @media @consonant-desktop-up {
        min-width: calc(83.333vw - @consonant-filters-1200-break-width ~ ' + 32px');
        max-width: calc(83.333vw - @consonant-filters-1200-break-width ~ ' + 32px');

        & > div {
            margin-left: 0;
            margin-right: @consonant-card-margin-right;

            &:nth-of-type(even),
            &:nth-of-type(3n) {
                margin-right: 0;
            }

            &:nth-of-type(odd) {
                margin-right: @consonant-card-margin-right;
            }
        }
    }

    @media @consonant-big-desktop-up {
        min-width: calc(@consonant-width-desktop-min - @consonant-filters-1200-break-width ~ ' + 32px');
        max-width: calc(@consonant-width-desktop-min - @consonant-filters-1200-break-width ~ ' + 32px');

        & > div {
            &:nth-of-type(even) {
                margin-right: @consonant-card-margin-right;
            }

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }
    }
}
