/* Available modifiers:
- .consonant-CardsGrid--with1xGutter;
- .consonant-CardsGrid--with2xGutter;
- .consonant-CardsGrid--with3xGutter;
- .consonant-CardsGrid--with4xGutter;
- .consonant-CardsGrid--smallerCards;
- .consonant-CardsGrid--smallestCards;
- .consonant-CardsGrid--doubleWideCards;
*/

.consonant {
    &-CardsGrid {
        display: grid;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(@consonant-card-min-width, max-content));

        /* Spacing variations */

        &--with1xGutter {
            gap: @consonant-grid-gutter-size;
        }

        &--with2xGutter {
            gap: @consonant-grid-gutter-size * 2;
        }

        &--with3xGutter {
            gap: @consonant-grid-gutter-size * 3;
        }

        &--with4xGutter {
            gap: @consonant-grid-gutter-size * 4;
        }

        /* Cards variations */

        &--smallerCards:not(&--doubleWideCards) {
            grid-template-columns: repeat(auto-fit, minmax(@consonant-card-grid-smaller-min-width, max-content));

            .consonant-ThreeFourthCard,
            .consonant-OneHalfCard,
            .consonant-HalfHeightCard,
            .consonant-FullCard {
                min-width: @consonant-card-grid-smaller-min-width;
                max-width: @consonant-card-grid-smaller-max-width;
                min-height: @consonant-card-grid-smaller-height;
                max-height: @consonant-card-grid-smaller-height;
            }

            .consonant-ThreeFourthCard .consonant-ThreeFourthCard-img {
                min-height: @consonant-card-grid-smaller-img-3-4-height;
            }

            .consonant-OneHalfCard .consonant-OneHalfCard-img {
                min-height: @consonant-card-grid-smaller-img-1-2-height;
            }

            .consonant-HalfHeightCard {
                min-height: @consonant-card-half-height;
                max-height: @consonant-card-half-height;
            }
        }

        &--smallestCards:not(&--doubleWideCards) {
            grid-template-columns: repeat(auto-fit, minmax(@consonant-card-grid-smallest-min-width, max-content));

            .consonant-ThreeFourthCard,
            .consonant-OneHalfCard,
            .consonant-HalfHeightCard,
            .consonant-FullCard {
                min-width: @consonant-card-grid-smallest-min-width;
                max-width: @consonant-card-grid-smallest-max-width;
                min-height: @consonant-card-grid-smallest-height;
                max-height: @consonant-card-grid-smallest-height;
            }

            .consonant-ThreeFourthCard .consonant-ThreeFourthCard-img {
                min-height: @consonant-card-grid-smallest-img-3-4-height;
            }

            .consonant-OneHalfCard .consonant-OneHalfCard-img {
                min-height: @consonant-card-grid-smallest-img-1-2-height;
            }

            .consonant-OneHalfCard .consonant-OneHalfCard-label {
                display: none;
            }

            .consonant-OneHalfCard .consonant-OneHalfCard-inner {
                padding-bottom: 20px;
                padding-top: 14px;
            }

            .consonant-HalfHeightCard {
                min-height: @consonant-card-half-height;
                max-height: @consonant-card-half-height;
            }
        }

        @media @consonant-desktop-up {
            &--doubleWideCards {
                grid-template-columns: repeat(auto-fit, minmax(@consonant-card-double-wide-desktop-min-width, max-content));
            }
        }
    }
}
