/* Available modifiers:
- .consonant-Grid--alignCenter;
- .consonant-Grid--alignRight;
- .consonant-Grid--alignMiddle;
- .consonant-Grid--alignBottom;
- .consonant-Grid--fill;
- .consonant-Grid--fit;
- .consonant-Grid--equalHeight;
- .consonant-Grid--with1xGutter;
- .consonant-Grid--with2xGutter;
- .consonant-Grid--with3xGutter;
- .consonant-Grid--with4xGutter;
- .consonant-Grid--small;
- .consonant-Grid--medium;
- .consonant-Grid--large;
- .consonant-Grid--xLarge;
- .consonant-Grid--resizeCards;
*/

.consonant {
    &-Grid {
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;

        > * {
            box-sizing: inherit;
            flex-basis: 100%;
            min-width: 0;
        }

        /* Related to modifiers */

        &--alignCenter {
            justify-content: center;
        }

        &--alignRight {
            justify-content: flex-end;
        }

        &--alignMiddle {
            align-items: center;
        }

        &--alignBottom {
            align-items: flex-end;
        }

        &--fill > * {
            flex: 1 1 0%;
        }

        &--fit > * {
            flex-basis: auto;
        }

        &--equalHeight > * {
            display: flex;
        }

        /* Generates flex-basis for the direct children of the grid with no gutters */

        &--small > * {
            flex-basis: 50%;
        }

        &--medium > * {
            flex-basis: 33.333%;
        }

        &--large > * {
            flex-basis: 25%;
        }

        &--xLarge > * {
            flex-basis: 20%;
        }

        /**
        * Generates gutters between grid elements for grid component
        * Gutter basis (1x) is 8px;
        * Gutter modifiers allowed: 1x, 2x, 3x, 4x;
        */

        /* .consonant-Grid--with1xGutter */

        &--with1xGutter {
            margin-left: -(@consonant-grid-gutter-size * 0.5);
            margin-right: -(@consonant-grid-gutter-size * 0.5);

            > * {
                margin-left: (0.5 * @consonant-grid-gutter-size);
                margin-right: (0.5 * @consonant-grid-gutter-size);
                margin-bottom: @consonant-grid-gutter-size;
            }
        }

        /* Update flex basis values for 1x gutter */

        &--with1xGutter&--small > * {
            flex-basis: calc(50% - @consonant-grid-gutter-size);
        }

        &--with1xGutter&--medium > * {
            flex-basis: calc(33.333% - @consonant-grid-gutter-size);
        }

        &--with1xGutter&--large > * {
            flex-basis: calc(25% - @consonant-grid-gutter-size);
        }

        &--with1xGutter&--xLarge > * {
            flex-basis: calc(20% - @consonant-grid-gutter-size);
        }

        /* .consonant-Grid--with2xGutter */

        &--with2xGutter {
            margin-left: -(@consonant-grid-gutter-size);
            margin-right: -(@consonant-grid-gutter-size);

            > * {
                margin-left: @consonant-grid-gutter-size;
                margin-right: @consonant-grid-gutter-size;
                margin-bottom: (@consonant-grid-gutter-size * 2);
            }
        }

        /* Update flex basis values for 2x gutter */

        &--with2xGutter&--small > * {
            flex-basis: calc(50% - @consonant-grid-gutter-size * 2);
        }

        &--with2xGutter&--medium > * {
            flex-basis: calc(33.333% - @consonant-grid-gutter-size * 2);
        }

        &--with2xGutter&--large > * {
            flex-basis: calc(25% - @consonant-grid-gutter-size * 2);
        }

        &--with2xGutter&--xLarge > * {
            flex-basis: calc(20% - @consonant-grid-gutter-size * 2);
        }

        /* .consonant-Grid--with3xGutter */

        &--with3xGutter {
            margin-left: -(@consonant-grid-gutter-size * 1.5);
            margin-right: -(@consonant-grid-gutter-size * 1.5);

            > * {
                margin-left: (@consonant-grid-gutter-size * 1.5);
                margin-right: (@consonant-grid-gutter-size * 1.5);
                margin-bottom: (@consonant-grid-gutter-size * 3);
            }
        }

        /* Update flex basis values for 3x gutter */

        &--with3xGutter&--small > * {
            flex-basis: calc(50% - @consonant-grid-gutter-size * 3);
        }

        &--with3xGutter&--medium > * {
            flex-basis: calc(33.333% - @consonant-grid-gutter-size * 3);
        }

        &--with3xGutter&--large > * {
            flex-basis: calc(25% - @consonant-grid-gutter-size * 3);
        }

        &--with3xGutter&--xLarge > * {
            flex-basis: calc(20% - @consonant-grid-gutter-size * 3);
        }

        /* .consonant-Grid--with4xGutter */

        &--with4xGutter {
            margin-left: -(@consonant-grid-gutter-size * 2);
            margin-right: -(@consonant-grid-gutter-size * 2);

            > * {
                margin-left: (@consonant-grid-gutter-size * 2);
                margin-right: (@consonant-grid-gutter-size * 2);
                margin-bottom: (@consonant-grid-gutter-size * 4);
            }
        }

        /* Update flex basis values for 4x gutter */

        &--with4xGutter&--small > * {
            flex-basis: calc(50% - @consonant-grid-gutter-size * 4);
        }

        &--with4xGutter&--medium > * {
            flex-basis: calc(33.333% - @consonant-grid-gutter-size * 4);
        }

        &--with4xGutter&--large > * {
            flex-basis: calc(25% - @consonant-grid-gutter-size * 4);
        }

        &--with4xGutter&--xLarge > * {
            flex-basis: calc(20% - @consonant-grid-gutter-size * 4);
        }

        /* Resize cards for grid with more than 4 items in a row */

        &--resizeCards&--large > * {
            min-width: @consonant-card-grid-4x-min-width;
            max-width: @consonant-card-grid-4x-max-width;
            min-height: @consonant-card-grid-4x-height;
            max-height: @consonant-card-grid-4x-height;

            &.consonant-ThreeFourthCard .consonant-ThreeFourthCard-img {
                min-height: @consonant-card-grid-4x-img-3-4-height;
            }

            &.consonant-OneHalfCard .consonant-OneHalfCard-img {
                min-height: @consonant-card-grid-4x-img-1-2-height;
            }

            &.consonant-HalfHeightCard {
                min-height: @consonant-card-half-height;
                max-height: @consonant-card-half-height;
            }
        }

        &--resizeCards&--xLarge > * {
            min-width: @consonant-card-grid-5x-min-width;
            max-width: @consonant-card-grid-5x-max-width;
            min-height: @consonant-card-grid-5x-height;
            max-height: @consonant-card-grid-5x-height;

            &.consonant-ThreeFourthCard .consonant-ThreeFourthCard-img {
                min-height: @consonant-card-grid-5x-img-3-4-height;
            }

            &.consonant-OneHalfCard .consonant-OneHalfCard-img {
                min-height: @consonant-card-grid-5x-img-1-2-height;
            }

            &.consonant-HalfHeightCard {
                min-height: @consonant-card-half-height;
                max-height: @consonant-card-half-height;
            }
        }
    }
}
