.consonant-load-more {
    display: block;
    min-width: 83.333vw;
    max-width: 83.333vw;

    .margin-auto;

    padding-bottom: 115/@consonant-root-rem;
    text-align: center;
    user-select: none;

    .consonant-load-more--inner {
        &:extend(
            .flex,
            .flex .direction .column,
            .flex .align .center
        );
    }

    .consonant-load-more--text {
        max-width: 75%;
        margin: 0 0 14/@consonant-root-rem;

        .font(
            @line-height: 19/@consonant-root-rem,
            @color: @consonant-color-brown-grey,
            @align: center
        );
    }

    .consonant-load-more--btn {
        max-width: 75%;
        box-sizing: border-box;
        padding: 5/@consonant-root-rem unit((@consonant-root-rem * 0.8125), px);

        .font(
            @line-height: 19/@consonant-root-rem,
            @color: @consonant-color-brown-grey,
            @align: center
        );

        text-transform: capitalize;
        background-color: transparent;
        border: 2px solid @consonant-color-brown-grey;
        border-radius: unit((@consonant-root-rem * 1.875), px);
        outline: 0;
        user-select: none;
        transition:
            color @transition-time @transition-func,
            background-color @transition-time @transition-func;

        &:hover,
        &:active {
            background-color: @consonant-color-light-grey-3;
            color: @consonant-color-white;
        }

        .focused;
    }

    @media @consonant-for-tablet-landscape-up {
        padding-bottom: 121/@consonant-root-rem;
    }

    @media @consonant-for-big-desktop-up {
        min-width: @consonant-size-responsive-desktop;
        max-width: @consonant-size-responsive-desktop;
        padding-bottom: 140/@consonant-root-rem;
    }
}

// Left filter changes;
* + * > div > .consonant-load-more {
    @media @consonant-for-desktop-up {
        min-width: calc(83.333vw - (@consonant-filters-1200-break-width + unit((@consonant-root-rem * 2), px)));
        max-width: calc(83.333vw - (@consonant-filters-1200-break-width + unit((@consonant-root-rem * 2), px)));
    }

    @media @consonant-for-big-desktop-up {
        min-width: calc(@consonant-size-responsive-desktop - (@consonant-filters-1200-break-width + unit((@consonant-root-rem * 2), px)));
        max-width: calc(@consonant-size-responsive-desktop - (@consonant-filters-1200-break-width + unit((@consonant-root-rem * 2), px)));
    }
}
