/* Initial breakpoints*/
@consonant-tablet-up: %(~"only screen and (min-width: %s)", @consonant-width-tablet-min);
@consonant-desktop-up: %(~"only screen and (min-width: %s)", @consonant-width-desktop-min);
@consonant-big-desktop-up: %(~"only screen and (min-width: %s)", @consonant-width-big-desktop-min);

/* Browser type related */
@consonant-IE11-only: ~"all and (-ms-high-contrast: none), (-ms-high-contrast: active)";
