/* Available modificators:
- .consonant-pagination--item_active;
- .consonant-pagination_last;
- .consonant-pagination_first;
*/

@consonant-pagination-item-size: unit((@consonant-root-rem * 2), px);
@consonant-pagination-btn-max-width: unit((@consonant-root-rem * 4.375), px);

.consonant-pagination {
    &:extend(
        .flex .justify .between,
        .flex .align .center
    );

    min-width: 83.333vw;
    max-width: 83.333vw;

    .margin-auto;

    margin-bottom: 50/@consonant-root-rem;
    user-select: none;

    .consonant-pagination--paginator {
        flex-grow: 1;

        &:extend(
            .flex,
            .flex .justify .between,
            .flex .align .center
        );

        overflow-x: auto;
    }

    .consonant-pagination--btn {
        padding-left: 0;
        padding-right: 0;

        .font(
            14/@consonant-root-rem,
            19/@consonant-root-rem,
            700,
            @consonant-color-light-grey-3
        );

        white-space: nowrap;
        text-transform: capitalize;
        background-color: transparent;

        .no-border-no-outline;
        .focused;
    }

    .consonant-pagination--items {
        &:extend(
            .flex,
            .flex .align .center
        );

        margin: 0;
        padding:
            0
            unit((@consonant-root-rem * 0.75), px)
            0
            unit((@consonant-root-rem * 1.25), px);
        list-style-type: none;
    }

    .consonant-pagination--item {
        margin-right: unit((@consonant-root-rem * 0.4375), px);

        &:hover .consonant-pagination--item-btn {
            color: @consonant-color-dark-grey-2;
        }

        &:active .consonant-pagination--item-btn {
            color: @consonant-color-dark-grey-2;
            background-color: @consonant-color-lightest-grey-3;
        }

        &:hover .consonant-pagination--item-btn:disabled,
        &:active .consonant-pagination--item-btn:disabled,
        .consonant-pagination--item-btn:disabled {
            color: @consonant-color-lightest-grey-4;
            pointer-events: none;
            background-color: transparent;
        }

        &.consonant-pagination--item_active {
            .consonant-pagination--item-btn {
                background-color: @consonant-color-lightest-grey-3;
                color: @consonant-color-light-grey-3;
            }

            &:hover .consonant-pagination--item-btn,
            &:active .consonant-pagination--item-btn {
                color: @consonant-color-dark-grey-2;
            }

            .consonant-pagination--item-btn:disabled {
                color: @consonant-color-lightest-grey-4;
                background-color: @consonant-color-lightest-grey;
            }
        }

        &:nth-of-type(n+5) {
            display: none;
        }
    }

    .consonant-pagination--item-btn {
        position: relative;
        min-width: @consonant-pagination-item-size;
        min-height: @consonant-pagination-item-size;
        max-width: @consonant-pagination-btn-max-width;
        padding: 8/@consonant-root-rem unit((@consonant-root-rem * 0.625), px);

        .font(
            14/@consonant-root-rem,
            14/@consonant-root-rem,
            400,
            @consonant-color-light-grey-3,
            center
        );

        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: unit((@consonant-root-rem), px);
        outline: 0;
        cursor: pointer;
        background-color: transparent;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;

            .position-absolute-0;

            margin: auto;
            border: 2px solid transparent;
            border-radius: unit((@consonant-root-rem * 1.875), px);
            z-index: 1;
        }

        &:focus:after {
            border-color: @consonant-focus-color;
        }
    }

    .consonant-pagination--summary {
        display: none;
        min-width: 30%;
        max-width: 30%;

        &:extend(.flex .align .center);

        .font(
            14/@consonant-root-rem,
            21/@consonant-root-rem,
            400,
            @consonant-color-brown-grey,
            right
        );

        margin-left: auto;

        strong {
            padding-left: unit((@consonant-root-rem * 0.3125), px);
            padding-right: unit((@consonant-root-rem * 0.3125), px);
            font-weight: 700;
        }
    }

    &.consonant-pagination_first .consonant-pagination--btn:first-of-type,
    &.consonant-pagination_last .consonant-pagination--btn:last-of-type {
        color: @consonant-color-lightest-grey-4;
        pointer-events: none;
    }

    @media @consonant-for-tablet-landscape-up {
        .consonant-pagination--paginator {
            justify-content: center;
        }
    }

    @media @consonant-for-desktop-up {
        // Can't use extend here, limitation of LESS;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: unit((@consonant-root-rem * 6.25), px);

        .consonant-pagination--paginator {
            justify-content: flex-start;
            margin: 0;
        }

        .consonant-pagination--btn {
            max-width: 15%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .consonant-pagination--item {
            &:nth-of-type(n+5) {
                display: list-item;
            }

            &:nth-of-type(n+11) {
                display: none;
            }
        }

        .consonant-pagination--summary {
            display: block;
        }

        .consonant-pagination--btn.consonant-pagination--btn_prev {
            transform: translate3d(2px, 0, 0);
        }
    }

    @media @consonant-for-big-desktop-up {
        min-width: @consonant-size-responsive-desktop;
        max-width: @consonant-size-responsive-desktop;
    }
}

// Left filter changes;
* + * > .consonant-pagination {
    @media @consonant-for-desktop-up {
        min-width: calc(83.333vw - (@consonant-filters-1200-break-width + unit((@consonant-root-rem * 2), px)));
        max-width: calc(83.333vw - (@consonant-filters-1200-break-width + unit((@consonant-root-rem * 2), px)));
    }

    @media @consonant-for-big-desktop-up {
        min-width: calc(@consonant-size-responsive-desktop - (@consonant-filters-1200-break-width + unit((@consonant-root-rem * 2), px)));
        max-width: calc(@consonant-size-responsive-desktop - (@consonant-filters-1200-break-width + unit((@consonant-root-rem * 2), px)));
    }
}
