/* Available modifiers:
- .consonant-Wrapper--withLeftFilter;
- .consonant-Wrapper--1200MaxWidth;
- .consonant-Wrapper--fullWidth;
*/

.consonant {
    &-Wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 100vh;
        overflow-y: scroll;

        &-inner {
            max-width: @consonantDesktopMinWidth;

            .margin-auto;

            > *:last-of-type {
                display: block;
                min-height: @consonant-Wrapper-minHeight;
                position: relative;
                flex-grow: 1;
            }
        }

        &-collection {
            width: 83.333vw;

            .margin-auto;

            background-color: transparent;

            @media @consonant-tablet-up {
                margin-top: -4px;
            }

            @media @consonant-desktop-up {
                overflow: visible;
            }

            @media @consonant-big-desktop-up {
                margin-bottom: 8px;
                width: @consonantDesktopMinWidth;
            }
        }

        &--1200MaxWidth &-collection {
            width: 100%;
        }

        &--fullWidth &-inner {
            max-width: unset;
            margin-left: 0;
            margin-right: 0;
        }

        &--fullWidth &-collection {
            width: 100%;
        }

        @media @consonant-tablet-up {
            &-inner > *:last-of-type {
                min-height: 625px;
            }
        }

        @media @consonant-desktop-up {
            &--withLeftFilter &-inner {
                display: grid;
                grid-template-columns: 204px auto;
                justify-content: center;
                gap: 32px;
            }
        }
    }
}

/* Left filter changes */

.consonant-Wrapper-leftFilterWrapper + .consonant-Wrapper-collection {
    @media @consonant-desktop-up {
        width: calc(83.333vw - @consonant-filters-1200-break-width ~ ' - 32px');
    }

    @media @consonant-big-desktop-up {
        width: calc(@consonantDesktopMinWidth - @consonant-filters-1200-break-width ~ ' - 32px');
    }
}
