.consonant-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

    .consonant-wrapper--inner {
        max-width: @consonant-width-desktop-min;

        .margin-auto;

        & > *:last-of-type {
            display: block;
            min-height: @consonant-wrapper-min-height;
            position: relative;
            flex-grow: 1;
        }
    }

    @media @consonant-tablet-up {
        .consonant-wrapper--inner {
            > *:last-of-type {
                min-height: 625px;
            }
        }
    }

    @media @consonant-desktop-up {
        .consonant-wrapper--inner {
            display: flex;
            justify-content: center;
            align-items: stretch;

            > *:last-of-type {
                flex-grow: 0;
            }
        }
    }
}
